# Ignore everything
/*

# But not these frontend folders
!static/
!templates/

# Still ignore uploads except .gitkeep
static/uploads/*
!static/uploads/.gitkeep

# Do not ignore .gitignore itself
!.gitignore 